@media screen and (max-width: 760px){

main{
    flex-direction: column;
}

h2{
    font-size: 40px;
}
form{
    margin: 0 auto;
    width: 100%;
}
input{
    align-self: center;
}

img{
    width: 360px;
}

ul{
    text-align: center;   
 }

footer{
    flex-direction: column;
} 
}