@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 20;
    
}

li, a ,button {
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a{
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #0088a0
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136 ,169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer ;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: rgba(0, 136 ,169, 0.8);
}

.cta {
    order: 2;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
body {
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: rgb(34 ,34, 34);
    padding: 25px;
}

h1{
    font-size: 46px;
  }


p{
    line-height: 20px;
    font-family: 60px ;
  
}
  span{
    color:rgba(0, 136 ,169, 1);
}  

img{
 width: 500px;
 padding-right: 40px;
}


form {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

form [type = "submit"] {
    height: 50px;
    width: 50%;
    background-color: rgba(0, 136 ,169, 1);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer ;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat" , sans-serif;
    
}

form [type = "submit"] :hover{
    cursor: pointer;
    background-color: rgba(0, 136 ,169, 0.8);
    
}


input {
    color: rgb(0, 0, 0);
    margin-top: 25px;
    height: 25px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;

}

.footerlinks {
    list-style: none;
}

.footerlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.footerlinks li a{
    transition: all 0.3s ease 0s;
}

.footerlinks li a:hover {
    color: #0088a0
}
